.doc-vehicle-info {
  input:disabled {
    font-family: "Times New Roman", Times, serif;
    background-color: #fff;
    color: #000;
    border-color: #000;
    border-radius: 0;
    padding: 0px 5px;
    font-size: 1em;
  }
}
