@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Caveat&family=Cherish&family=Iceland&family=Libre+Barcode+39+Extended+Text&family=Marck+Script&family=Oooh+Baby&family=Source+Code+Pro:wght@200&family=WindSong&display=swap");
.marke {
  font-family: "Marck Script", cursive;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 0.6;
  margin-top: 10px;
}

.wind-song {
  font-family: "WindSong", cursive;
  font-size: 1.6em;
  font-weight: 800;
}

.cherish {
  font-family: "Cherish", cursive;
  font-size: 2.1em;
  line-height: 0.5;
  font-weight: 300;
  margin-top: 8px;
}

.oooh-baby {
  font-family: "Oooh Baby", cursive;
  font-size: 1.6em;
  font-weight: 500;
  line-height: 0.8;
  margin-top: 4px;
}

.libre-barcode {
  font-family: "Libre Barcode 39 Extended Text", cursive;
}

.source-code {
  font-family: "Source Code Pro", monospace;
  font-size: 1.2em;
  font-weight: 400;
}

.source-code-important {
  font-family: "Source Code Pro", monospace !important;
}

body,
html,
#root {
  height: 100%;
}

.form-signin-container {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.nav-link {
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: underline;
}

.doc-page {
  margin-top: 2em;
  padding: 2em;
  font-family: "Times New Roman", Times, serif;
  position: relative;
}

.doc-header {
  text-align: center;
  text-transform: uppercase;
}
.doc-header h1 {
  font-size: 1.5em;
  font-weight: 800;
}
.doc-header h2 {
  font-size: 1em;
  font-weight: 500;
}
.doc-header .doc-title {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 0.5em 0 0 0;
}

.doc-body {
  font-size: 9pt;
}

.form-label {
  margin-bottom: 0;
}

.doc-footer-label {
  font-size: 1.2em;
  font-weight: 800;
}

.signature {
  font-weight: 800;
  line-height: 0.6;
  margin-top: 10px;
  border-bottom: 1px solid #000;
}

.doc-footer-normal {
  font-family: "Marck Script", cursive;
  font-size: 1.3em;
  font-weight: 300;
}

.doc-footer-underline {
  border-bottom: 1px solid #000;
}

.cursor-pointer {
  cursor: pointer;
}

.doc-info-form input:disabled,
.doc-info-form textarea:disabled {
  font-family: "Marck Script", cursive;
  background-color: #fff;
  color: #000;
  border-color: #000;
  border-radius: 0;
  padding: 0px 5px;
  font-size: 1.1em;
}
.doc-info-form .doc-form-span {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0;
}

.form-text-box {
  padding: 0px 5px;
  border: 1px solid black;
  display: block;
}

.form-text-box-5 {
  height: 8em;
}

.form-field-inline {
  width: 200px;
  display: inline-block;
  text-align: center;
  border-bottom: 1px solid black;
}

.w-300 {
  width: 300px !important;
}

.doc-vehicle-info input:disabled {
  font-family: "Times New Roman", Times, serif;
  background-color: #fff;
  color: #000;
  border-color: #000;
  border-radius: 0;
  padding: 0px 5px;
  font-size: 1em;
}

.classified-stamp {
  position: absolute;
  width: 40%;
  top: 15%;
  left: 12%;
}

.contract-code {
  position: absolute;
  top: 45%;
  left: -400px;
  transform: rotate(90deg);
  font-size: 3.8em;
  color: rgb(155, 155, 155);
  text-transform: uppercase;
}

.hit-contract-body-spacer {
  height: 26em;
}

.hit-contract-body input {
  font-family: "Source Code Pro", monospace !important;
  font-weight: 300;
}

.target-notes {
  font-size: 12pt !important;
  font-weight: 300;
}

.polaroid-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.polaroid-surround {
  position: relative;
  width: 100%;
  height: 100%;
}

.polaroid {
  position: absolute;
  top: 30px;
  right: 2px;
  width: 40%;
  z-index: 10;
  overflow: hidden;
}

.paperclip {
  position: absolute;
  top: 0;
  right: -2px;
  width: 40%;
  z-index: 1;
}

.polaroid-text {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  transform: rotate(-5deg);
  font-family: "Caveat", cursive;
}/*# sourceMappingURL=main.css.map */